include *.yml
include LICENSE
include pytest.ini
recursive-include docs *.md
recursive-include docs *.png
recursive-include herbie_core *.css
recursive-include herbie_core *.html
recursive-include herbie_core *.js
recursive-include herbie_core *.py
recursive-include tests *.json
