{% extends "admin/login.html" %}

{% block content %}
  <form method="post" action="/admin/login/?next=/admin/" id="login-form">{% csrf_token %}

    <div class="form-row">
      <label for="id_username">Username:</label> <input id="id_username" type="text" name="username" maxlength="30" />
    </div>
    <div class="form-row">
      <label for="id_password">Password:</label> <input type="password" name="password" id="id_password" />
    </div>
    <div class="submit-row">
      <input type="submit" value="Log in">
    </div>
  </form>


  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
  <a href="{% url 'social:begin' 'github' %}">Login with Github</a><br>

{% endblock %}

